* {
  color: #4B4343;
}

h3 {
  font-size: 25px;
  margin-bottom: 26px;
}

#searchInput,
#dropdown-basic {
  background-color: transparent;
  border: 1px solid #E4E4E4;
  color: #4B4343;
  box-shadow: 0px 2px 10px #00000029;
  width: 100%;
  height: 50px;
}

.header-wrap {
  box-shadow: 0px 3px 6px #00000029;
}

.custom-padding{
  padding-bottom: 15px !important;
 }

.card {
  border: none;
  box-shadow: 0px 2px 10px #00000029;
  border-radius: 30px;
  padding: 30px;
}

.card img {
  background-color: #367AAC;
  border-radius: 30px;
  width: 100%;
  height: 250px;
  object-fit: contain;
  margin-bottom: 20px;
}

.card .anchor-wrap {
  border-top: 1px solid #E4E4E4;
  padding: 15px 15px 0px;
  text-align: center;
}

.card .anchor-wrap a {
  color: #367AAC;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.single-pokemon-page {
padding-top: 50px;
}

.single-pokemon-page .back-btn {
  background-color: #367AAC;
  border-radius: 10px;
  width: 200px;
  height: 50px;
  color: white;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  left: 0;
  top: 0;
}

.single-pokemon-page img.front-img{
  background-color: #367AAC;
  border-radius: 30px;
  height: 622px;
  width: 622px;
  object-fit: contain;
  margin: auto auto 30px;
}

.single-pokemon-page h1 {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}

.single-pokemon-page h2.relevant-items-header {
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
}

.single-pokemon-page .columns-wrap {
  margin-bottom: 50px;
}

.single-pokemon-page .col {
  width: fit-content;
  flex: none;
}

.single-pokemon-page .accordion {
  margin-bottom: 30px;
}

.single-pokemon-page .accordion-item {
  margin-bottom: 10px;
  border: 1px solid #E4E4E4;
  border-radius: 10px;
  box-shadow: 0px 2px 10px #00000029;
  padding: 20px;
}

.single-pokemon-page .accordion-button:not(.collapsed) {
  background-color: white;
}


/* dark theme */
.dark-theme {
  background-color: #1F374A;
  color: white;
}

.dark-theme #searchInput,
.dark-theme .dropdown-menu,
.dark-theme .dropdown-menu a,
.dark-theme #dropdown-basic,
.dark-theme .card {
  background-color: #4B4343;
  color: white;
  border: none;
}

.dark-theme #searchInput::placeholder  {
  color: white;
}

.dark-theme .card img {
  border: 1px solid white;
}

.dark-theme .switch {
  background-color: #E4E4E4;
}

.dark-theme .toggle-wrap p:first-of-type {
  opacity: 0.5;
}

.dark-theme .toggle-wrap p:last-of-type {
  opacity: 1;
}

.dark-theme .switch div{
  background-color: white;
}

.dark-theme button, 
.dark-theme .card a {
  color: white;
}

.dark-theme .accordion-item {
  background-color: #4B4343;
}

.dark-theme .accordion-item * {
  color: white;
}

.dark-theme .back-btn {
  background-color: white;
  color: #367AAC;
}

.dark-theme .accordion-item button:not(.collapsed),
.dark-theme .accordion-item button {
  background-color: #4B4343;
}

/* theme toggle */

.toggle-wrap {
  position: absolute;
  right: 0;
  top: 0;
  height: 40px;
  width: fit-content;
}

.toggle-wrap p:last-of-type {
  opacity: 0.5;
}

.switch input {
  position: absolute;
  opacity: 0;
}

.switch {
  display: inline-block;
  font-size: 20px; /* 1 */
  height: 22px;
  width: 40px;
  border: 2px solid #367AAC;
  border-radius: 12px;
}

.switch div {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #367AAC;
  border: 1px solid white;
}

.switch input:checked + div {
  -webkit-transform: translate3d(100%, 0, 0);
     -moz-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}